@(user: User) 

@import helper._ 
@import helper.twitterBootstrap._



@main("hello") {



<div class="container-narrow">
	
	<div class="masthead">
		<ul class="nav nav-pills pull-right">


			<li><a href="@routes.signin.logou">Logout</a></li>
		</ul>
		<h3 class="muted">
			welcome <b>@user.getEmail()</b>
		</h3>
	</div>
	<hr></hr>

	<div class="jumbotron">
		<p allign="center">
			@form(action = routes.se.upload, 'enctype -> "multipart/form-data") {
			
			
			
			<input type="file" name="picture" accept="application/pdf"><br/> 
			<input type="submit" value="upload and extract"> 
<!-- 			<a  href="@routes.se.extr">extract entities</a>  -->
			}
		</p>
	</div>
</div>


}
